*{
	font-family: 'Lato';
}
#home .movie-info{
    position:absolute;
    top:40%;
    left:15px;
    z-index:100;
    max-width:300px;
    background:transparent;
    color:white;
}
#home .navbar{
    z-index: 100;
    position:fixed!important;
    top:0;
	width:100%;
	vertical-align: middle;
}

#home #second-view{
    background: url(../images/bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: auto;
	min-height: 80vh;
}

/*Input style from: https://codepen.io/912lab/pen/LsplC*/
#home input {
    
	outline: none;
}
#home input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
#home input::-webkit-search-decoration,
#home input::-webkit-search-cancel-button {
	display: none; 
}
#home input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 90px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
#home input[type=search]:focus {
	width: 220px;
	max-width: 90vw;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
#home input:-moz-placeholder {
	color: #999;
}
#home input::-webkit-input-placeholder {
	color: #999;
}

/*End of input style*/
#home #top-rated{
	padding-top:90px;
	padding-left:15px;
}
#home #search-result{
	display:flex;
	flex-direction: row;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	padding-top:50px;
}
#home #search-result img{
	margin:20px;
	width:400px;
	height: 400px;
	-webkit-box-shadow: 7px 6px 11px 3px rgba(130,130,130,1);
	-moz-box-shadow: 7px 6px 11px 3px rgba(130,130,130,1);
	box-shadow: 7px 6px 11px 3px rgba(130,130,130,1);
	
}
#home #chart-wrapper{
	width:60%;
	height: auto;
	margin:auto;
	margin-top:50px;
	border-bottom-style: solid;
	border-bottom-color:rgb(172, 172, 172);
	border-bottom-width: 2px;
}
.modal-body{
	text-align: center;
}
#modal-poster{
	filter:brightness(72%);
	width:70%;
	height: auto;
	-webkit-box-shadow: 7px 6px 9px 1px rgba(130,130,130,1);
	-moz-box-shadow: 7px 6px 9px 1px rgba(130,130,130,1);
	box-shadow: 7px 6px 9px 1px rgba(130,130,130,1);
}
#sinopse{
	margin-top:20px;
	margin-bottom:0px;
	text-align: left;
}
#movie-overview{
	text-align:left;
	margin-top:2px;
}
#movie-cast,#release-date,#movie-revenue,#movie-budget{
	text-align: left;
}
#search-title{
	margin-top:70px;
	margin-bottom:0px;
	text-align: center;
	font-family: 'Open Sans';
	color:rgb(0, 45, 54);
}
#search-result img:hover{
	opacity: 0.7;

}

/*RESPONSIVE*/

@media (max-width:550px),(max-device-width:550px){
	.navbar-text{
		display:none!important;
	}
	#home input[type=search] {
		width:0px;
	}
	#home input[type=search]:focus {
		width:100%;
	}
	#home .movie-info{
		top:30%;
		font-size:0.8em;
	}
	#home #chart-wrapper{
		width:95%;
	}
	#home #search-result img{
		width:250px;
		height: 250px;
	}
	#home #top-rated{
		padding-top:25px;
		padding-left:0;
	}
}
